@model BookShop.Models.ViewModels.InfoViewModel

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center text-success">@Model.Message</h4>
        </div>
    </div>
}
else if (Model.Errors.Any())
{
    foreach (var error in Model.Errors)
    {
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center text-danger">@error</h4>
            </div>
        </div>
    }
}
