<div id="ratingDiv">
    <img src="~/Images/whitestar.png" alt="" class="ratingStar voteStar1" data-value="1" />
    <img src="~/Images/whitestar.png" alt="" class="ratingStar voteStar2" data-value="2" />
    <img src="~/Images/whitestar.png" alt="" class="ratingStar voteStar3" data-value="3" />
    <img src="~/Images/whitestar.png" alt="" class="ratingStar voteStar4" data-value="4" />
    <img src="~/Images/whitestar.png" alt="" class="ratingStar voteStar5" data-value="5" />
</div>

<script src="~/Scripts/myScripts/vote.js"></script>

