<div class="editRatingDiv">
    <img src="~/Images/whitestar.png" alt="" class="ratingStar editVoteStar1" data-value="1" />
    <img src="~/Images/whitestar.png" alt="" class="ratingStar editVoteStar2" data-value="2" />
    <img src="~/Images/whitestar.png" alt="" class="ratingStar editVoteStar3" data-value="3" />
    <img src="~/Images/whitestar.png" alt="" class="ratingStar editVoteStar4" data-value="4" />
    <img src="~/Images/whitestar.png" alt="" class="ratingStar editVoteStar5" data-value="5" />
</div>

<script src="~/Scripts/myScripts/editVote.js"></script>

