@model IEnumerable<BookShop.Data.AuthorReview>
    
@if (Model.Any())
{
    foreach (var review in Model)
    {
        @Html.Partial("_myAuthorReviewPartial", review)
    }
}
else
{
    <div class="row">
        <div class="col-md-12">
            Nie wystawiłeś jeszcze żadnej recenzji
        </div>
    </div>
}
